<footer class="social-media">
  <a href="mailto:phillip.yu.1@gmail.com"
    ><i class="fa-regular fa-envelope fa-2xl"></i
  ></a>
  <a href="https://www.linkedin.com/in/phillip-yu/"
    ><i class="fa-brands fa-linkedin fa-2xl"></i
  ></a>
  <a href="https://github.com/phillipyu"
    ><i class="fa-brands fa-github fa-2xl"></i
  ></a>
  <a href="https://twitter.com/yu_phillip"
    ><i class="fa-brands fa-twitter fa-2xl"></i
  ></a>
  <a href="https://www.instagram.com/yu_phillip/"
    ><i class="fa-brands fa-instagram fa-2xl"></i
  ></a>
</footer>
