$black: rgb(0, 0, 0);
$almost-white: #f7f7f7;
$almost-white-filter: invert(100%) sepia(35%) saturate(0%) hue-rotate(349deg)
  brightness(104%) contrast(94%); // computed using https://codepen.io/sosuke/pen/Pjoqqp
$gray: rgb(50, 50, 50);
$headshot-brown: rgb(164, 109, 0);

body {
  color: $black;
  background-color: $almost-white;
  font-family: "Tahoma", Sans-Serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.headshot {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border-color: $black;
  border-width: 4px;
  border-style: solid;
}

.social-media {
  padding-top: 20px;
  display: flex;
  width: 200px;
  justify-content: space-between;

  a:visited {
    color: inherit;
  }
}

.topbar {
  background-color: rgb(50, 50, 50);
  min-height: 50px;
  width: 100%;
  display: flex;
  border-bottom: solid $gray;

  a {
    font-size: 17px;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    color: $almost-white;
    text-decoration: none;
  }

  a:hover {
    background-color: $headshot-brown;
  }

  a:active {
    background-color: rgb(210, 130, 77);
  }

  .current {
    background-color: $headshot-brown;
  }
}

// I colored the SVGs following this answer: https://stackoverflow.com/a/53336754
.tab-icon {
  filter: $almost-white-filter;
}

.tab-name {
  padding-left: 8px;
}

.tab-home {
  margin-right: auto;
}

.content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;

  a {
    text-decoration: none;
    color: $headshot-brown;
    font-weight: bold;
  }
}
