<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <!-- add set-dark-mode script as blocking in the HTML head, so it runs before the layout has loaded and we don't get a flicker -->
    <script src="/assets/js/set-dark-mode.js"></script>
    <!-- adds favicon -->
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="/assets/images/headshot.jpg"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito:300,400,500,600,700"
    />
  </head>
  <body>
    {% include navigation.html %}
    <div class="content">{{ content }}</div>
    {% include footer.html %}
  </body>
</html>
